# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/
env/

# macOS
.DS_Store

# VS Code local settings
.vscode/

# Data files
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Results and large outputs
results/*
!results/.gitkeep

*.parquet
*.pkl
*.h5

# Logs
*.log