# macOS
.DS_Store
**/.DS_Store

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/
env/

# VS Code local settings
.vscode/

# Raw and processed data
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Large outputs
*.csv
*.parquet
*.pkl
*.h5

# Result outputs
results/figures/*
results/tables/*

# Keep result folders
!results/figures/.gitkeep
!results/tables/.gitkeep

# Logs
*.log